<%- include ("../partials/head.ejs") %> 
<body> 
    <%- include ("../partials/header.ejs") %> 
    <h2 class="tituloSeccion"> Hospedajes Disponibles</h1>
        <section class="">
            <ol class="listaHospedajes">
            <% for (i=0;i<product.length; i++) { %> 
                <li>
                  <a class="listHospedajes" href="/products/<%= product[i].id %> "> 
                     <%= product[i].name %> </li>
                   <% } %> 
                </a></ol>
                    <% for( let index = 0; index < image.length; index++ ) { %>
                        <picture> <img src="../../upload/<%= image[index].url %> "> </picture>
                    <% } %>
                        
                  
        
            </section>

    <span class="agregar"> <a class="create" href="/products/productCreate">Agregar Alojamiento </a></span>
           
        
    
    <%- include ("../partials/footer.ejs") %> 
</body>