<%- include ("../partials/head.ejs") %> 
<body> 
    <%- include ("../partials/header.ejs") %> 
    <h2 class="tituloSeccion"> Hospedajes Disponibles</h1>
        <section class="">
            <ol class="listaHospedajes">
            <% for (i=0;i<product.length; i++) { %> 
                <article>
                <li>
                  <a class="listHospedajes" href="/products/<%= product[i].id %> "> 
                    <%= product[i].category.category %>  <%= product[i].name %> </li>
                    <% if (product[i].image_id > 0 ) { %>
                        <picture> <img src="../../upload/<%= product[i].image.url %> "> </picture>
                    <% } %>
                    
                    <% } %> 
                </a>
            </article>
        </ol>           
        
            </section>

    <span class="agregar"> <a class="create" href="/products/productCreate">Agregar Alojamiento </a></span>
         
        
    
    <%- include ("../partials/footer.ejs") %> 
</body>