<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head.ejs")%> 
<body>
    <%- include ("../partials/header.ejs") %> 
    <h3>Agregar Alojamiento</h3>
    <main>
        <section class="principal">
            <section class="flex-container" >
                <form action="/products/productCreate" enctype="multipart/form-data" method="post" class="form-register">
        <fieldset class="form-fieldset">
            <label name="name">Nombre</label>
            <input type="text" name="name" id="name">
    </fieldset>
    <fieldset class="form-fieldset">
        <label name="ciudad">Ciudad</label>
        <select name="city_id">
            <% for(i=0; i<city.length; i++){ %> 
            
                <option value="<%= city[i].id %> ">
                    <%= city[i].city %> 
                </option>
                <% } %> 
            </select>
    </fieldset>
    <fieldset class="form-fieldset">
        <label name="address">Dirección</label>
        <input type="text" name="address" id="address">
    </fieldset>
    <fieldset class="form-fieldset">
        <label name="category">Categoría</label>
        <select name="category_id">
        <% for(i=0; i<category.length; i++){ %> 
        
            <option value="<%= category[i].id %> ">
                <%= category[i].category %> 
            </option>
            <% } %> 
        </select>
        
</fieldset>

<fieldset class="form-fieldset">
    <label name="capacidad">Max. Ocupantes</label>
    <input type="number" name= "capacity" id="capacity" min="1">
</fieldset>
<fieldset class="form-fieldset">
    <label name="bath">Baños</label><br>
    <select name="bath_id">
        <% for(i=0; i<bath.length; i++){ %> 
        
            <option value="<%= bath[i].id %> ">
                <%= bath[i].bath %> 
            </option>
            <% } %> 
        </select>
</fieldset>
<fieldset class="form-fieldset">
    <label name="tipoHabitacion">Tipo de Habitación</label>
    <select name="room_id">
        <% for(i=0; i<room.length; i++){ %> 
        
            <option value="<%= room[i].id %> ">
                <%= room[i].room %> 
            </option>
            <% } %> 
        </select>
    
</fieldset>
<fieldset class="form-fieldset">
    <label name="service">Servicios</label> <br>
    <input type="radio" name="TV" id="TV"> <h4>Wifi</h4><br>
    <input type="radio" name="Climatización" id="Climatización" v> <h4>TV</h4><br>
    <input type="radio" name="Servicio a la Habitación" id="Servicio a la Habitación" ><h4>Servicio a la Habitación</h4><br>
    <input type="radio" name="Garage" id="Garage" > <h4>Estacionamiento</h4><br>
    <input type="radio" name="PetFriendly" id="PetFriendly" > <h4>Aire Acondicionado/ Estufas</h4><br>
    <input type="radio" name="Internet" id="Internet" > <h4>Pet Friendly</h4><br>
    </fieldset>
    <fieldset class="form-fieldset">
        <label name="description">Descripción</label>
        <input type="" name="description" id="description" placeholder="Descripción del alojamiento"> 
    </fieldset>
    <fieldset class="form-fieldset">
        <label name="surface">Medidas</label>
        <input type="text" name="surface" id="surface"> m2
    </fieldset>
    <fieldset class="form-fieldset">
        <label name="price">Precio</label>
        <input type="number" name="price" id="price"> $ (Pesos Argentinos)
    </fieldset>
    <fieldset class="form-fieldset"> 
        <label name="file">Fotos</label>
        <input type="file" name="file" id="file" multiple>
    </fieldset> 
    <fieldset class="form-fieldset-buttons">
        <legend class="dn">Botones de enviar</legend>
        <button class="buttons" type="submit">Enviar</button>
    </fieldset> 
    

    </form>
    
</section>
</section>
</main>

</body>
<%- include ("../partials/footer.ejs") %> 

</html>