<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head.ejs")%> 
<body>
    <%- include ("../partials/header.ejs") %> 
    <h3>Editar Alojamiento</h3>
    <main>
        <section class="principal">
            <section class="flex-container" >
                <form action="/products/<%= product.id%>?m=PUT" method="post" class="form-register">
        
        
                    <fieldset class="form-fieldset">
            <label name="name">Nombre</label>
            <input type="text" name="name" id="name" value="<%= product.name%>">
    </fieldset>
    <fieldset class="form-fieldset">
        <label name="ciudad">Ciudad</label>
        <select name="city_id" id="" required>
            <% city.forEach(city => { %>
            <option value="<%= city.id %>" <% if (product.city.id == city.id) { %><%= 'selected' %><% }; %>><%= city.city %></option>
            <% }); %>
        </select>
        <!-- <p><input type="number" name="city_id" id="" value="<%= product.city_id %>"></p> -->
    </fieldset>
    <fieldset class="form-fieldset">
        <label name="address">Dirección</label>
        <input type="text" name="address" id="address" value="<%= product.address %>">
    </fieldset>
    <fieldset class="form-fieldset">
        <label name="categoria">Categoría</label>
        <select name="category_id" id="" required>
            <% category.forEach(category => { %>
            <option value="<%= category.id %>" <% if (product.category.id == category.id) { %><%= 'selected' %><% }; %>><%= category.category %></option>
            <% }); %>
        </select>
        <!-- <p><input type="number" name="city_id" id="" value="<%= product.category_id %>"></p> -->
        
</fieldset>
<fieldset class="form-fieldset">
    <label name="tipoHabitacion">Tipo de Habitación</label>
    <select name="room_id" id="" required>
        <% room.forEach(room => { %>
        <option value="<%= room.id %>" <% if (product.room.id == room.id) { %><%= 'selected' %><% }; %>><%= room.room %></option>
        <% }); %>
    </select>
    <!-- <p><input type="number" name="city_id" id="" value="<%= product.room_id %>"></p> -->
    
</fieldset>
    
    <fieldset class="form-fieldset">
        <label name="capacity">Max. Ocupantes</label>
        <input type="number" name= "capacity" id="capacity" min="1" value="<%= product.capacity %>">
    </fieldset>
</fieldset>
<fieldset class="form-fieldset">
    <label name="bath">Baños</label>
    <select name="bath_id" id="" required>
        <% bath.forEach(bath => { %>
        <option value="<%= bath.id %>" <% if (product.bath.id == bath.id) { %><%= 'selected' %><% }; %>><%= bath.bath %></option>
        <% }); %>
    </select>
    <!-- <p><input type="number" name="city_id" id="" value="<%= product.bath_id %>"></p> -->
    
</fieldset>
<fieldset class="form-fieldset">
    <label name="service">Servicios</label> 
        <% for(i=0; i<service.length; i++){ %>
    <input type="checkbox" name="service_id" value="<%= service[i].id %>" <% if (service.id == service.id) { %><%= 'checked' %><% }; %>><%= service.service %>> <%= service[i].service %>
     
     <!-- <p><input type="number" name="service_id" id="" value="<%= service.id %>"></p> -->
     <% } %>
</fieldset>
<fieldset class="form-fieldset">
    
    </fieldset>
    <fieldset class="form-fieldset">
        <label name="description">Descripción</label>
        <input type="" name="description" id="description" value="<%= product.description %>" > 
    </fieldset>
    <fieldset class="form-fieldset">
        <label name="surface">Medidas</label>
        <input type="text" name="surface" id="surface" value="<%= product.surface %>"> m2
    </fieldset>
    <fieldset class="form-fieldset">
        <label name="price">Precio</label>
        <input type="number" name="price" id="price" value="<%= product.price %>"> $ (Pesos Argentinos)
    </fieldset>
    <fieldset class="form-fieldset"> 
        <label name="file">Fotos</label>
        <input type="file" name="file" multiple > <%= product.image_id %>
    </fieldset> 
    <fieldset class="form-fieldset-buttons">
        <legend class="dn">Botones de enviar</legend>
        <button class="buttons" type="submit">Editar</button>
     
   
</form>
<form action="/products/delete/<%= product.id %>?m=DELETE" method="post">
    <input type="hidden" > 
    
<button id="deleteButon" class="buttons" type="submit" name="id" value="">Eliminar </button></fieldset>
</form> 

    
    
</section>
</section>
</main>

</body>
<%- include ("../partials/footer.ejs") %> 

</html>