<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head.ejs")%> 
<body>
    <%- include ("../partials/header.ejs") %> 
    <h3>Editar Alojamiento</h3>
    <main>
        <section class="principal">
            <section class="flex-container" >
                <form action="/products/?m=PUT" method="post" class="form-register">
        <fieldset class="form-fieldset">
            <label name="name">Nombre</label>
            <input type="text" name="name" id="name" value="<%= product.name %>">
    </fieldset>
    <fieldset class="form-fieldset">
        <label name="ciudad">Ciudad</label>
        <input type="text" name="ciudad" id="ciudad" value="<%= product.city.city %>">
    </fieldset>
    <fieldset class="form-fieldset">
        <label name="direccion">Dirección</label>
        <input type="text" name="direccion" id="direccion" value="<%= product.address %>">
    </fieldset>
    <fieldset class="form-fieldset">
        <label name="categoria">Categoría</label>
        <input list="categoria" name="categoria"  value="<%= product.category.category %>">
</fieldset>
<fieldset class="form-fieldset">
    <label name="tipoHabitacion">Tipo de Habitación</label>
    <input list="habitacion" name="habitaciones" id="habitaciones" value="<%= product.room.room %>">
        <option value="Single"></option>
        <option value="Doble/ Matrimonial"></option>
        <option value="Triple"></option>
        <option value="Cuadruple"></option>
        <option value="Suite"></option>
    </datalist>
    <fieldset class="form-fieldset">
        <label name="capacidad">Max. Ocupantes</label>
        <input type="number" name= "capacidad" id="capacidad" min="1" value="<%= product.capacity %>">
    </fieldset>
</fieldset>
<fieldset class="form-fieldset">
    <label name="bath">Baños</label><br>
        <input value="<%= product.bath.bath%> ">
            

</fieldset>
<fieldset class="form-fieldset">
    <label name="servicios">Servicios</label> <br>
    <input type="radio" name="internet" id="internet" <%= product.internet ? "checked":null  %>> <h4>Wifi</h4><br>
    <input type="radio" name="television" id="television" <%= product.television ? "checked":null  %>> > <h4>TV</h4><br>
    <input type="radio" name="servicioHab" id="servicioHab" <%= product.servicioHab ? "checked":null  %>> ><h4>Servicio a la Habitación</h4><br>
    <input type="radio" name="garage" id="garage"<%= product.garage ? "checked":null  %>>  > <h4>Estacionamiento</h4><br>
    <input type="radio" name="climatizacion" id="climatizacion" <%= product.climatizacion ? "checked":null  %>> > <h4>Aire Acondicionado/ Estufas</h4><br>
    <input type="radio" name="mascotas" id="mascotas" <%= product.mascotas ? "checked":null  %>> > <h4>Pet Friendly</h4><br>
    </fieldset>
    <fieldset class="form-fieldset">
        <label name="description">Descripción</label>
        <input type="" name="description" id="description" value="<%= product.description %>" > 
    </fieldset>
    <fieldset class="form-fieldset">
        <label name="superficie">Medidas</label>
        <input type="text" name="superficie" id="superficie" value="<%= product.superficie %>"> m2
    </fieldset>
    <fieldset class="form-fieldset">
        <label name="price">Precio</label>
        <input type="number" name="price" id="price" value="<%= product.price %>"> $ (Pesos Argentinos)
    </fieldset>
    <fieldset class="form-fieldset"> 
        <label name="file">Fotos</label>
        <input type="file" name="file" multiple >
    </fieldset> 
    <fieldset class="form-fieldset-buttons">
        <legend class="dn">Botones de enviar</legend>
        <button class="buttons" type="submit">Editar</button>
     
   
</form>
<form action="/products/?m=DELETE" method="post">
    <input type="hidden" > 
    
<button id="deleteButon" class="buttons" type="submit" name="id" value="<%= product.id  %> ">Eliminar </button></fieldset>
</form> 

    
    
</section>
</section>
</main>

</body>
<%- include ("../partials/footer.ejs") %> 

</html>