<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head.ejs") %> 
<body>
    <%- include ("../partials/header.ejs") %> 
<main>


   
<section>

    <h1 class="titleSeccion">San Carlos de Bariloche</h1>

<div class= flexAB>  

<div class= flexA>
<img src= "../image/bariloche.jpg" class="bariloche">
</div>

<div class=flexB>
    
<p class="pBariloche">
    Bariloche es la ciudad más poblada de la provincia de Río Negro.

Es el destino más visitado de la Patagonia y uno de los destinos más visitados de la Argentina. Recibe alrededor de dos millones de turistas anualmente.

</p>

</div>

</div>
</section>

<section class= "flexHospedajeA">
    <div class= "flexListaContenedor">
      
        <ul class="flexLista">
            <h3><%= product.categoria  %>  <%= product.name %></h3>
            <h4>Servicios del hospedaje</h4>
            <li>Cabañas para 2 y 4 personas<i class="fas fa-male"></i><i class="fas fa-male"></i><i class="fas fa-male"></i><i class="fas fa-male"></i></li>
            <li>Estacionamiento privado<i class="fas fa-bus"></i></li>
            <li>Aire condicionado y calefacción<i class="fas fa-thermometer-empty"></i></li>
            <li>Wifi y Tv Smart<i class="fas fa-wifi"></i><i class="fas fa-tv"></i></li>
            <li>Pet Friendly <i class="fas fa-dog"></i></li>
            <a href="/products/productCar"><button class="visitar"><input type="text" name="visitar">Reservar</button></a>
        </ul>
    </div>

    <div class= flexCabanaContenedor>
        <picture><img src="../image/hospedaje/cabanas.jpg" class= "flexCabana"></picture>
    </div>
</section>

<section class= "flexHospedajeA">
    <div class= "flexListaContenedor">
      
        <ul class="flexLista">
            <h3>Bariloche Ski Hotel </h3>
            <h4>Servicios del hospedaje</h4>
            <li>Habitaciones para 2-3 personas<i class="fas fa-male"></i><i class="fas fa-male"></i><i class="fas fa-male"></i></li>
            <li>Climatización central<i class="fas fa-thermometer-empty"></i></li>
            <li>Wifi y Cable<i class="fas fa-wifi"></i><i class="fas fa-tv"></i></li>
            <li>Restaurante<i class="fas fa-utensils"></i></li>
            <li>Alquiler de equipos de Ski<i class="fas fa-skiing-nordic"></i></li>
            <li>Traslados al aeropuerto y terminal<i class="fas fa-bus"></i></li>
            <a href="/products/productCar"><button class="visitar"><input type="text" name="visitar">Reservar</button></a>
            </li>
        </ul>
    </div>

    <div class= flexCabanaContenedor>
        <picture><img src="../image/hospedaje/hotel.jpg" class= "flexCabana"></picture>
    </div>
</section>

<h2>Un lugar mágico</h2>
<section class="seccionTurismo">
    

    <div class="flexTurismo">
        <picture><img src="../image/turismo/lagos.jpg" class="imagenTurismo"></picture>
        <picture><img src="../image/turismo/chocolateria.jpg" class="imagenTurismo"></picture>
        <picture><img src="../image/turismo/ciclismo.jpg" class="imagenTurismo"></picture>
        <picture><img src="../image/turismo/ski.jpg" class="imagenTurismo"></picture>
        <picture><img src="../image/turismo/trekking.jpg" class="imagenTurismo"></picture>
        <picture><img src="../image/turismo/cerveza.jpg" class="imagenTurismo"></picture>
    </div>
</section>







</main>




    
<%- include ("../partials/footer.ejs") %> 
</body>
</html>