<%- include ("../partials/head.ejs") %> 
    <body> 
        <%- include ("../partials/header.ejs") %> 
        <main>
    <section class="principal">
            <h1>Usuarios registrados</h1>
    <% for( let i = 0; i < user.length; i++ ) { %>
    <p> <%= user[i].name %> <%= user[i].last_name %> <%= user[i].email %></p>
    <% } %>
    <form action="/users/logout" method="post">
        <button type="submit">Cerrar sesión</button>
    </section>
            </form>
</main>
<%- include ("../partials/footer.ejs") %> 
</body>
