<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head.ejs") %> 
<body> 
    <%- include ("../partials/header.ejs") %> 

    <main>
        <section class="principal">
            <section class="flex-container">
     
                <form class="form-login" action="/users/access" method="post"> 

                    <label class="" for="email">Email</label>
                        <input class="form-fieldset-input" type="email" id="email" name="email" placeholder="Email" required>
                        <% if (locals.errors && errors.email) { %>
                            <p class="text-danger"><%= errors.email.msg  %></p> 
                            <% } %>
                            
                    <fieldset class="form-fieldset">
                        <legend class="dn">Contraseña</legend>
                        <label class="form-fieldset-input" for="contrasena">Contraseña</label>
                        <input class="form-fieldset-input" type="password" name="password" id="password"  placeholder="**********" required>
                        <% if (locals.errors && errors.password) { %>
                            <p class="text-danger"><%= errors.password.msg  %>  </p>
                            <% } %>
                        
                    </fieldset>
                    <a class="rcontraseña" href="rccontrasena.html">Recuperar tu contraseña</a>
                    <div>
                        <label for="recordarUsuario">Recordar Usuario
                            <input class="" type="Checkbox" name="remember" id="remember" >
                            </label>                 
                    </div>
                    
                    <div>
                        <label for="recordarContraseña">Recordar Contraseña
                            <input class="" type="checkbox" name="recordarContraseña" id="recordarContraseña" >
                            </label>                 
                    </div>   

                    <fieldset class="form-fieldset-buttons">
                        <legend class="dn">Botones de enviar</legend>
                        <button class="buttons" type="submit">Ingresar</button>
                    </fieldset> 

                    <fieldset class="form-fieldset-buttons">
                        <legend class="dn">Registrarse</legend>
                        <a class="buttons" href="/users/register">Registrarse</a>
                    </fieldset> 
<!-- 
                    <fieldset class="form-fieldset-buttons">
                        <legend class="dn">Iniciar con google</legend>
                        <button class="buttons" type="submit"><i style="margin-right: 5px;" class="fa-brands fa-google"></i>Iniciar con google</button>
                    </fieldset> 

                    <fieldset class="form-fieldset-buttons">
                        <legend class="dn">Iniciar con facebook</legend>
                        <button class="buttons" type="submit"><i style="margin-right: 5px;" class="fab fa-facebook"></i>Iniciar con facebook</button>
                    </fieldset>  -->
                   
    
                </form>
            </section>      
        </section>

        <%- include ("../partials/footer.ejs") %> 
</body>
